.pathCard {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 300px;
  margin: auto;
  box-shadow: 0 0 38px rgb(191, 191, 191);
  border-radius: 5px;
}

.pathCard > div {
  height: 50%;
  margin: 50px 50px 50px 50px;
}

.pathTop {
  display: flex;
  justify-content: space-between;
}

.pathName {
  display: flex;
  flex-direction: column;
}
