.home {
  display: flex;
  flex-direction: column;
  height: 3000px;
  text-align: center;
}

.home > div {
  height: 25%;
}

.one > div {
  height: 25%;
}

.two > div {
  height: 25%;
}

.howToLearn {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.howToLearn div {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.languages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.languages div {
  text-align: center;
  flex: 33%;
  height: 100px;
}

.three div {
  height: 33%;
}

.four {
  display: flex;
  flex-direction: column;
}

.testimonies {
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex: 3;
}

.testimony {
  height: 100px;
  display: flex;
  flex: 50%;
}

.testimonyImage {
  border: solid;
  flex: 1;
}

.testimonyInfo {
  border: solid;
  flex: 4;
  display: flex;
  flex-direction: column;
}

.title {
  flex: 1;
}

.other {
  flex: 2;
}

.other > div {
  height: 33%;
}

.one {
  background-color: white;
}

.two {
  background-color: #fbfbf8;
}

.three {
  background-color: white;
}

.four {
  background-color: #fbfbf8;
}

.headerText {
  font-size: xxx-large;
}

.text {
  font-size: larger;
}

.button {
  font-size: larger;
  color: #fbfbf8;
  padding: 15px 50px 15px 50px;
  border: none;
  font-weight: bold;
  background-color: rgb(74, 202, 216);
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2),
    -2px -1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
