.section {
  display: flex;
  flex-direction: column;
  height: 800px;
  text-align: center;
}

.one > div {
  height: 25%;
}

.one {
  background-color: white;
  height: 100%;
}

.headerText {
  font-size: xxx-large;
  color: #d7b700;
}

.text {
  font-size: larger;
}

.button {
  font-size: larger;
  color: #fbfbf8;
  padding: 15px 50px 15px 50px;
  border: none;
  font-weight: bold;
  background-color: rgb(74, 202, 216);
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.2),
    -2px -1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
